@import "tailwindcss";
@plugin "@tailwindcss/typography";

.navbarMenuToggle ~ .navbarMenu {
  display: none;
}

.navbarMenuToggle:checked ~ .navbarMenu {
  display: block;
}

.navbarMenuToggle:checked + .navbarMenuOverlay {
  display: block;
}

.mobileNavToggle + .mobileNavMenu {
  display: none;
}

.mobileNavToggle:checked + .mobileNavMenu {
  display: flex;
}

@media (min-width: 768px) {
  .mobileNavToggle + .mobileNavMenu {
    display: flex;
  }
}
