<% content_for(:title, @term_title) %>

<div class="mx-auto xl:w-3/4 px-12 w-full py-4">
  <h1 class="text-4xl">
    <%= @term_title %>
    <br>
    <span class="text-lg text-gray-700">
      Last updated on
      <%= local_time_tag(@term.updated_at, date_only: true) %>
    </span>
  </h1>

  <div class="prose prose-slate mt-4 max-w-none">
    <%= render_markdown(@term.content) %>
  </div>

</div>
