<script>window.buildToken = "<%= ENV["BUILD_TOKEN"] %>"</script>
<div class="md:flex pt-16 w-full h-screen" data-controller="editor">
  <div data-editor-target="root" id="root"></div>
  <%= form_with(model: project, class: "contents") do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
  <% end %>
</div>
