  <% if user.subscribed? %>
    <p>You are subscribed until <%= user.subscribed_until.strftime("%B %d, %Y") %>.
    <% if user.subscription_seats.first.subscription.user != user %>
      Your subscription is managed by <code><%= user.subscription_seats.first.subscription.user.email %></code>.
    <% end %>
    </p>
  <% else %>
    <p>You are not currently subscribed.</p>
  <% end %>