<% @subscriptions.each do |subscription| %>
<div>
        <div class="text-gray-600 mb-4">
          You are currently subscribed to the
          <span class="font-semibold text-pink-600"><%= subscription.name %></span> plan.
        </div>
        <div class="text-left mb-4">
          <p class="text-gray-600">
            <span class="font-semibold">Renewal Date:</span>
            <%= subscription.current_period_end.strftime('%B %d, %Y') %>
          </p>
          <p class="text-gray-600">
            <span class="font-semibold">Price:</span>
            <span class="text-pink-600">
              <%= number_to_currency(Stripe::Price.retrieve(Stripe::Subscription.retrieve(subscription.processor_id).items.data.first.price.id).unit_amount / 100.0, unit: '$', precision: 2) %>/month
            </span>
          </p>
        </div>
        </div>
<% end %>
